<template>
    <div :class="background">
        <h2>Пост</h2>
        <p :class="fonts">{{messageTxt}}</p>
        <slot></slot>
    </div>
</template>
<script>
export default {
    props:{
        background:{
            type:String,
            default:'black',
            require:true
        },
        messageTxt:{
            type:String,
            require:true
        },
        fonts:{
            type:String,
            require:true,
            default:'defaultFont'
        }
    }
}
</script>
<style scoped>
*{
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    color:black;
}

    .yellow{
        float: right;
        background-color: rgb(213, 213, 14);
        width: 400px;
        height: 200px;
    }

    .black{
        float: right;
        background-color: rgb(21, 21, 20);
        width: 400px;
        height: 200px;
    }
    .green{
        float: right;
        background-color: rgb(32, 204, 69);
        width: 400px;
        height: 200px;
    }
    .red{
        float: right;
        background-color: rgb(195, 19, 19);
        width: 400px;
        height: 200px;
    }
</style>