<script>
import TextRedactor from "./components/TextRedactor.vue";

export default {
  components: { TextRedactor },
  props: {
    background: String,
    fonts: String,
    messageTxt: String,
  },
  data() {
    return {
      size: "",
      color: "",
      result: "defaultFont",
      userMessage: "",
      txtRes: [],
    };
  },  
  methods: {  
    boldich() {
      this.result = "font-weight: bold;";
    },
    italicich() {
      this.result = "font-style: italic;";
    },
    defaultichich() {
      this.result = "font-style: normal;";
    },
    fontsize() {    
      this.result = "font-size:"+this.size+"px";            
    },
    textcolor() {    
      this.result = "color:"+this.color;            
    },
    saver() {
      this.txtRes.push({ message: this.userMessage, font: this.result });
    },
    deleter(index) {
      this.txtRes.splice(index, 1);
    },
  },
};
</script>

<template>
  <div class="main">
    <h2>Редактор постов</h2>
    <textarea
      v-model="userMessage"
      :style="result"
      cols="28"
      rows="10"
    ></textarea>    
    <button class="fontButton" @click="boldich">Bold</button>
    <button class="fontButton" @click="italicich">Italic</button>
    <button class="fontButton" @click="defaultichich">Default</button>    
    <button class="fontButton" @click="fontsize">FontSize</button>
    <button class="colorButton" @click="textcolor">ChangeColor</button>    
    <p>
    <label>Введите размер шрифта:</label>
    <input type="number" v-model="size" min="0" max="100" />    
    </p>
    <p>
    <label>Выберите цвет текста:</label>
    <input type="color" id="color" v-model="color"/>    
    </p>
    <button class="saveButton" @click="saver">Сохранить пост</button>
  </div>  

  <div class="flexer">
    <TextRedactor      
      v-for="(txt,index) in txtRes"
      :key="txt"
      :messageTxt="txt.message"
      :fonts="txt.font"
      background="yellow"
    >
      <button @click="deleter(index)">Удалить пост</button>
    </TextRedactor>
  </div>
</template>

<style>
.flexer {
  display: flex;
  flex-direction: column;
  gap: 10px;  
  margin-left: 20px;
  margin-top:  450px;
}

button {
  margin: 1px;
}

.fontButton {
  cursor: pointer;
  width: 60px;
  height: 32px;
  margin-top: 2px;
  border-radius: 2px;
  border: none;
}

.colorButton {
  cursor: pointer;
  width: 80px;
  height: 32px;
  margin-top: 2px;
  border-radius: 2px;
  border: none;
}

.saveButton {
  margin-top: 2px;
  cursor: pointer;
  width: 100px;
  height: 32px;
  border-radius: 2px;
  border: none;
}

textarea {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  height: 600px;
}

.main {
  text-align: center;
  color: black;  
  width: 300px;
  height: 300px;
}

.defaultFont {
  font-size: 13px;
  font-style: normal;
}

.boldFont {
  font-size: 13px;
  font-weight: bold;
}

.italicFont {
  font-size: 13px;
  font-style: italic;
}
.FontSize {
font-size: 33px;
}
</style>
